{% extends "account/base.html" %}

{% load i18n %}

{% block content %}
<div class="row">
    <div class="col s12 m6 card offset-m3 z-depth-2 hoverable">
<h1 class="center">{% trans "Sign Out" %}</h1>

<p class="center">{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <div class="row">
      <button class="col s12 m4 offset-m4 btn waves-effect waves-light" type="submit">{% trans 'Sign Out' %}</button>
  </div>
  
</form>

</div>
</div>
{% endblock %}
