{% extends "account/base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load account %}

{% block content %}
<div class="row">
    <div class="col s12 m8 card offset-m2 z-depth-2 hoverable">
        <h1 class="center">{% trans "Password Reset" %}</h1>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p class="center">
            {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
        </p>
        <div class="row">
            <form method="POST" action="{% url 'account_reset_password' %}" class="col s12 m10 offset-m1">
                {% csrf_token %}
                <div class="row">
                    <div class="input-field col s12">
                        {{form.email|attr:"placeholder:E-mail Address"|attr:"id:id_email"|attr:"type:email"|attr:"class:validate center"|attr:"required"}}
                    </div>
                </div>
                <div class="row">
                    <button class="col s12 m4 offset-m4 btn waves-effect waves-light"
                        type="submit">{% trans 'Reset My Password' %}</button>
                </div>
            </form>
        </div>

        <div class="row">
            <p class="center">{% blocktrans %}Please contact us using the form on the home page if you have any trouble resetting your password.{% endblocktrans %}</p>
        </div>

    </div>
</div>

{% endblock %}