{% extends "account/base.html" %}

{% load i18n %}
{% block content %}
<div class="row">
    <div class="col s12 m6 card offset-m3 z-depth-2 hoverable">
        <h1 class="center">{% trans "Verify Your E-mail Address" %}</h1>
        <p class="center">{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to
            finalize the signup process. Please contact us if you do not receive it within a few
            minutes.{% endblocktrans %}</p>
    </div>
</div>
{% endblock %}